# compiled output
/node_modules

# OS
.DS_Store

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# environment variables
*.env
.env

# data files
/data/recitersData.json